<div class="container-fluid">
    <div style="float:left; display: inline-block">
        <span style="float:left">
            <img src="{{ imgRef }}" width="70" height="70">
        </span>
        <span style="float: right; width: 80%;">
            <h3>{{ title }}</h3>
            <p> {{ desc }}</p>
            <ul class="list-inline">
                {% if appRef %}
                    <li><a href="{{ appRef }}">Live</a></li>
                {% endif %}
                <li><a href="{{ srcRef }}">See source</a></li>
            </ul>
        </span>
    </div>
</div>