{% block jumbotronHome %}
    <!-- Main jumbotron-->
        <!-- TODO convert to carosel for new github commits-->
        <div class="jumbotron">
            <div class="container">
                <h2>S. Yogeswaran</h2>
                <p class="jumbotron-message">I am a developer messing around with a few things that tickle my fancy. Take a look around!</p>
                <p><a class="btn btn-primary btn-lg" href="{% url 'syogesweb:about' %}" role="button">Learn more &raquo;</a></p>
            </div>
        </div>
{% endblock %}