.footer-social-item{
    width: 21px !important;
    height: 21px !important;
}
html{
   margin:0;
   padding:0;
   height:100%;
}
body {
   margin:0;
   padding-top:65px;
   padding-left: 0px;
   padding-right: 0px;
   padding-bottom: 0px;
   height:100%;
   font-family: "Open Sans", sans-serif; !important;
}
#wrapper{
   min-height:100%;
   position:relative;
}
#header {
   background:#ff0;
   padding:10px;
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:100px;   /* Height of the footer */
   background:transparent;
}

.table-borderless tr td{
   border: none;
}

.navbar-collapse {
     border-top: 1px solid transparent;
     box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
 }

.jumbotron-message{
   font-size: 1.25em;
}