{% extends "syogesweb/header.html" %}

{% block jumbotronHome %}
    {% include "syogesweb/includes/menuHeader.html" with head="Apps" %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div style="float:left; display: inline-block">
            <table class="table table-borderless">
                {% include "syogesweb/includes/appsEntry.html" with title="TesseractBoxEditor" imgRef="#TBE_SS" desc="This application provides a GUI interface to manipulate entries created as part of Tesseract 3.10 .box files" appRef=tbeAppURL srcRef="https://github.com/sajeevany/TesseractBoxEditor" %}
                {% include "syogesweb/includes/appsEntry.html" with title="ANPR" imgRef="#ANPR_SS" desc="Automated number plate recognition system. Developed for 4th year engineering project" srcRef="https://github.com/sajeevany/ANPR_EDP_Capstone_Ryerson" only%}
            </table>
        </div>
    </div>
{% endblock %}