{% extends "syogesweb/header.html" %}

{% block jumbotronHome %}
    {% include "syogesweb/includes/menuHeader.html" with head="Apps" %}
{% endblock %}

{% block content %}
    {% include "syogesweb/includes/appsEntry.html" with title="TesseractBoxEditor" imgRef="#" desc="This application provides a GUI interface to manipulate entries created as part of Tesseract 3.10 .box files" appRef="#" srcRef="https://github.com/sajeevany/SajBoxEditor" %}
    {% include "syogesweb/includes/appsEntry.html" with title="ANPR" imgRef="#" desc="Automated number plate recognition system. Developed for 4th year engineering project" appRef="#" srcRef="https://github.com/sajeevany/ANPR_EDP_Capstone_Ryerson" %}
{% endblock %}