html,
body {
   height:100%;
}
.wrapper{
    min-height:100%;
    margin-bottom:100px;
}

.wrapper:after {
    content: "";
    display: block;
    height:100px;
}

.footer-i {
    position:relative;
    margin-top: -100px;
    width:100%;
    height:100px;   /* Height of the footer */
    background:transparent;
}

.footer-social-item{
    width: 21px !important;
    height: 21px !important;
}